html{
scroll-behavior:smooth;   
 background-color: #848ccf ;
}





figure{
background-repeat: no-repeat;
padding: 10px 10px;
align-content: center;
}




    
img{
padding: 2px 2px;
margin:3px 3px;
overflow: hidden;
border-radius:10px;
}






#box {
display:flex;
flex-wrap:wrap;
justify-content:space-between;
border-radius:8px;
}

footer{
clear: both;
}